.header {
  position: relative;
  margin-bottom: 3rem;
  padding: 2rem;
}

.Logo {
  position: absolute;
  color: white;
  top: 10px;
  left: 15px;
  font-family: "Noto Sans Mono", monospace;
}

#login-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #86ad54;
  color: white;
  border: none;
  font-weight: bold;
  padding: 0.25rem 0.75rem;
  border-radius: 100px;
}
