#Home {
  color: white;
  height: 100vh;
}

.home-text {
  margin-bottom: 2rem;
}

.home-logo {
  font-family: "Noto Sans Mono", monospace;
}

.cta {
  margin: 2rem;
}

.categories {
  display: grid;
  row-gap: 2rem;
}

.btn-lrg {
  width: 60%;
  padding: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  border: none;
  border-radius: 5px;
}

.HTML {
  background-color: var(--HTML-clr);
}

.CSS {
  background-color: var(--CSS-clr);
}

.JS {
  background-color: var(--JS-clr);
  color: black;
}
