.container {
  display: grid;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  margin: 2rem;
  height: 30vh;
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
}

.question-count {
  position: relative;
  bottom: 20px;
  color: white;
}

.control-btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 0rem 2rem;
  justify-content: center;
}

.prev-btn {
  grid-column: 1;
  background-color: green;
  width: 100%;
  font-size: 1.25rem;
}

.flip-btn {
  grid-column: 2/4;
  width: 100%;
  background-color: var(--HTML-clr);
  font-size: 1.25rem;
  transition: transform 250ms ease;
}

.next-btn {
  grid-column: 4;
  background-color: green;
  width: 100%;
  font-size: 1.25rem;
}

.flip {
  animation: flip 250ms ease forwards;
}

@keyframes flip {
  0% {
    transform: scaleX(100%);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(100%);
  }
}

@keyframes next {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(150%);
  }
  55% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0);
  }
}
